.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    align-items: center;
    justify-content: center;
}
.start{
    justify-content: start;
}
.end{
    justify-content: end;
}
.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.grow1{
    flex-grow: 1;
}
.grow2{
    flex-grow: 2;
}
.grow3{
    flex-grow: 3;
}
.grow4{
    flex-grow: 4;
}
.rounded{
    border-radius: 30px;
}
.box {
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.btn{
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family:'Noto-Sans-light';
    transition: all 0.9s;

}
.btn:hover{
    opacity: 0.8;
    background-color: #C2C2C2;
    color: #131313;
    cursor: pointer;
}
.hidden{
    display: none;
}